a{
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: #343434;
    margin:5px 5px;
}
body{
    font-family:   YuGothic, YuGothicM, Osaka, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
    color: #000;
    width: 100%;
    margin: auto;
}
div{
    display: block;
}
ul ,ol{
    list-style: none;
}
ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li{
    display: list-item;
    text-align:-webkit-match-parent;
}

.title01{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}
.p01{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}
.header_logo{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.header{
    display: flex;
    justify-content: center;
    color: rgb(0, 82, 0);
    text-align: center;
}
.header_meun_nav{
    display: flex;
    justify-content: center;
    color: black;
    text-align: center;
}
.header_menu_box{
    overflow-y:auto;

}
.header_menu_box .header_meun_item{
    font-weight: 700;
    letter-spacing: .1em;
    font-size: 20px;
    margin-left: 10px;
}
.header_menu_box .header_menu_item a{
        display: block;
        position: relative;
}
.header_menu_box .header_menu_item a::after{
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.title-FU{
    padding-bottom: 20px;
    font-size: 20px;
    letter-spacing: .2em;
}
.LEARNMORE{
    display: flex;
    justify-content: center;
    margin: 80px 0 0;
    position: relative;
    padding: 8px 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: 1000;
}
.MORE a{
    vertical-align: baseline;
}
.footer{
    text-align: center;
    background: #dbe3cc;
    font-weight: 700;
    padding: 85px 0 105px;
    font-size: 14px;
    letter-spacing: .1em;
}

.footer_icon{
    display: contents;
    justify-content: center;
}
.footer_note{
    padding-top: 75px;
    line-height: 1.5;
    font-size: 16px;
}

.footer_note small {
    padding-top: 25px;
    font-size: 13px;
    display: block;
}
